:root {
	/* --primary-keyboard-background: rgb(29, 29, 29) !important; */
	--secondary-keyboard-background: black !important;
	/* --focused-keyboard-background: black !important; */
}

.DefaultTheme .KeyTheme_Backspace,
.DefaultTheme .virtualkeyboard_KeyboardMetaKey_1WbIj,
.DefaultTheme .virtualkeyboard_KeyboardEnter_IunX6,
.DefaultTheme .KeyTheme_Shift,
.DefaultTheme .KeyTheme_SwitchKeys_Steam svg,
.DefaultTheme .virtualkeyboard_KeyboardSpacebar_ia41Q,
.DefaultTheme .KeyTheme_CapsLock,
.DefaultTheme .KeyTheme_Tab {
	color: whitesmoke;
}

.DefaultTheme .virtualkeyboard_ActionButtonGlyph_3VtXf {
	filter: none !important;
}


