:root {
	/* --primary-keyboard-background: rgb(131, 100, 106) !important; */
	--secondary-keyboard-background: rgb(212, 175, 181) !important;
	/* --focused-keyboard-background: pink !important; */
}

.DefaultTheme .KeyTheme_Backspace,
.DefaultTheme .virtualkeyboard_KeyboardMetaKey_1WbIj,
.DefaultTheme .virtualkeyboard_KeyboardEnter_IunX6,
.DefaultTheme .KeyTheme_Shift,
.DefaultTheme .KeyTheme_SwitchKeys_Steam svg,
.DefaultTheme .virtualkeyboard_KeyboardSpacebar_ia41Q,
.DefaultTheme .KeyTheme_CapsLock,
.DefaultTheme .KeyTheme_Tab {
	color: black;
}

.DefaultTheme .virtualkeyboard_ActionButtonGlyph_3VtXf {
  filter: invert() !important;
}