#QuickAccess-Menu:not(.quickaccessmenu_HeaderAndFooterVisible_2m0zl) {
	border-radius: 20px 0px 0px 0px;
}

#QuickAccess-Menu:not(.quickaccessmenu_HeaderAndFooterVisible_2m0zl)
	.quickaccessmenu_TabContentColumn_2z5NL {
	border-radius: 5px 0px 0px 0px;
}

#QuickAccess-Menu:not(.quickaccessmenu_HeaderAndFooterVisible_2m0zl) {
	margin-top: 30px;
}

#QuickAccess-Menu.quickaccessmenu_HeaderAndFooterVisible_2m0zl #header {
	transform: translate(-60px, 0px) !important;
}

.BasicUI.quickaccessmenu_Container_3DHXr #header_profile {
	display: none;
}
