:root {
    /* --primary-keyboard-background: rgb(131, 100, 106) !important;
    --secondary-keyboard-background: rgb(83, 65, 68) !important; */
    --focused-keyboard-background: pink !important;
}

.DefaultTheme .gpfocus .virtualkeyboard_ActionButtonGlyph_3VtXf {
    filter: none !important;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.gpfocus,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.gpfocus .virtualkeyboard_ShiftedLabel_3FZuk,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.gpfocus svg {
    color: black !important;
}
