:root {
	/* --primary-keyboard-background: rgb(141, 141, 141) !important;
	--secondary-keyboard-background: rgb(90, 90, 90) !important; */
	--focused-keyboard-background: whitesmoke !important;
}

.DefaultTheme .gpfocus .virtualkeyboard_ActionButtonGlyph_3VtXf {
	filter: none !important;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.gpfocus svg {
	color: black !important;
}
