:root {
    --primary-keyboard-background: rgb(235, 235, 235) !important;

    /* --secondary-keyboard-background: rgb(90, 90, 90) !important;
    --focused-keyboard-background: whitesmoke !important; */
}

.DefaultTheme
.virtualkeyboard_KeyboardKey_2KhPX:not(.KeyTheme_Backspace):not(.virtualkeyboard_KeyboardMetaKey_1WbIj):not(.virtualkeyboard_KeyboardEnter_IunX6):not(.KeyTheme_Shift):not(.KeyTheme_SwitchKeys_Steam):not(.virtualkeyboard_KeyboardSpacebar_ia41Q):not(.KeyTheme_CapsLock):not(.KeyTheme_Tab):not(.gpfocus),
.DefaultTheme
.virtualkeyboard_KeyboardKey_2KhPX
.virtualkeyboard_ShiftedLabel_3FZuk {
    color: black;
}
