:root {
    /* --primary-keyboard-background: rgb(29, 29, 29) !important;
    --secondary-keyboard-background: rgb(20, 20, 20) !important; */
    --focused-keyboard-background: black !important;
}

.DefaultTheme .virtualkeyboard_Focused_21EoN .virtualkeyboard_ActionButtonGlyph_3VtXf {
    filter: invert() !important;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN .virtualkeyboard_ShiftedLabel_3FZuk,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN svg {
    color: whitesmoke !important;
}
