:root {
    /* --primary-keyboard-background: rgb(141, 141, 141) !important;
    --secondary-keyboard-background: rgb(90, 90, 90) !important; */
    --focused-keyboard-background: whitesmoke !important;
}

.DefaultTheme .virtualkeyboard_Focused_21EoN .virtualkeyboard_ActionButtonGlyph_3VtXf {
    filter: none !important;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN .virtualkeyboard_ShiftedLabel_3FZuk,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Focused_21EoN svg {
    color: black !important;
}
