#header.header_OverrideHeaderBackground_MS2nB:not(.gpfocus),
#header.header_OverrideHeaderBackground_MS2nB:not(.gpfocuswithin) {
	transform: translateY(15px);
	background-color: transparent;
	transition-property: transform, background-color;
	transition-timing-function: cubic-bezier(0.17, 0.45, 0.14, 0.83);
	transition-duration: 0.25s, 0.35s;
}

#header.header_OverrideHeaderBackground_MS2nB.gpfocus,
#header.header_OverrideHeaderBackground_MS2nB.gpfocuswithin,
.backgroundglass_Visible_fSM7w
	+ #Header\.Main\.Footer
	#header.header_OverrideHeaderBackground_MS2nB:not(.gpfocus) {
	transform: none;
	background-color: transparent;
	transition-property: transform, background-color;
	transition-timing-function: cubic-bezier(0.17, 0.45, 0.14, 0.83);
	transition-duration: 0.25s, 0.35s;
}

.backgroundglass_Visible_fSM7w
	+ #Header\.Main\.Footer
	#header.header_OverrideHeaderBackground_MS2nB:not(.gpfocus) {
	background-color: black;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.17, 0.45, 0.14, 0.83);
	transition-duration: 0.25s, 0.35s;
}

.gamepadhome_RecentSection_39tNv:not(.gpfocuswithin)
	+ div
	> .gamepadtabbedpage_GamepadTabbedPage_3IBLc {
	transform: translateY(20px);
}

.gamepadhome_TabbedContent_cE1Sa::before {
    content: "";
    width: 854px;
    background-image: linear-gradient(#010306, #181d23d1);
    padding-top: 760px;
    position: absolute;
    display: inherit;
    transform: translateY(-40px);
}
