#QuickAccess-Menu:not(.quickaccessmenu_HeaderAndFooterVisible_2m0zl) {
	margin-top: 16px;
}

#QuickAccess-Menu.quickaccessmenu_HeaderAndFooterVisible_2m0zl #header {
	transform: translate(-60px, 0px) !important;
}

#header_profile {
	display: none;
}

.gamepadhome_RecentSection_39tNv:not(.gpfocuswithin)
	.gamepadtabbedpage_GamepadTabbedPage_3IBLc {
    transform: translateY(20px);
}
